*{
	margin: 0;
	padding: 0;
}

html{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: rgb(56, 92, 22);
	font-size: 12px;

}

body{
	min-height: 100vh;
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-template-rows: 1fr auto;
	grid-template-areas: 
	"sidebar main"
	"sidebar footer";
}

nav{
	top: 0;
	position: sticky;
	grid-area: nav;
	background-color: rgb(123, 207, 45);
}

nav svg{
	display: table-row;
	justify-content: center;
	align-items: center;
	
}

aside{
	grid-area: sidebar;
	background-color: gray;
}

main{
	grid-area: main;
	background-color: rgb(51, 235, 235);
}

footer{
	grid-area: footer;
	background-color: rgb(213, 71, 231);	
	color: white;
	padding: 2em;
}