@import url(./sidebar.css);
@import url(./flyingButton.css);
@import url(./sidebarNav.css);
@import url(./footer.css);

/* Hauptinhalt Styling */
main {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-size: 1.2em;
}