.SidebarNav {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Logo */
.SidebarNav .logo {
    font-size: 1.5em;
    color: #ff6347;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
}

/* Hauptlinks in der Sidebar */
.SidebarNav li {
    position: relative;
    margin-bottom: 10px;
}

.SidebarNav li a, .SidebarNav li button {
    display: flex;
    align-items: center;
    color: #e8eaed;
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Hover-Effekt für Links und Buttons */
.SidebarNav li a:hover, .SidebarNav li button:hover {
    background-color: #444;
}

/* SVG-Icons Styling */
.SidebarNav li svg {
    margin-right: 10px;
    fill: #ff6347; /* Icon-Farbe */
}

/* Aktiver Link */
.SidebarNav li.active > a {
    background-color: #555;
    color: #ff6347;
}

/* Submenu Styling */
.sub-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: #444;
    border-radius: 5px;
}

.sub-menu li {
    padding-left: 20px;
}

.sub-menu li a {
    display: block;
    padding: 8px 10px;
    font-size: 0.9em;
    color: #e8eaed;
}

/* Dropdown Button Styling */
.dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #e8eaed;
    cursor: pointer;
    background: none;
    border: none;
    padding: 10px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.dropdown-btn:hover {
    background-color: #444;
}

/* Kontrolle des ausgeklappten Untermenüs */
.dropdown-btn:focus + .sub-menu,
.dropdown-btn:active + .sub-menu,
.dropdown-btn.open + .sub-menu {
    max-height: 500px; /* Höhe für das aufgeklappte Untermenü */
}

/* Rotations-Animation für das Pfeil-Symbol */
.dropdown-btn svg:last-child {
    transition: transform 0.3s ease;
}

.dropdown-btn.open svg:last-child {
    transform: rotate(180deg);
}